<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<configuration>

    <!--文件日志-->
    <appender name="ALL" class="ch.qos.logback.core.FileAppender">
        <file>thinking_note.log</file>
        <encoder>
            <pattern>[%d{HH:mm:ss.SSS}] [%thread] [%level] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--控制台日志-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{HH:mm:ss.SSS}] [%thread] [%level] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--根日志-->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ALL"/>
    </root>

</configuration>